
/* LOGIN CSS page ____________________________________________________________________________________________________________________________*/

html {
	height: 100%;
}

body {
	font-family: Arial;
	margin: 0;
}

.main_div {
	height: 99.5vh;
	width: 100%;
	background: rgba(62,70,80,1);
	border: 1px solid black;
}

.background {
	height: 100%;
	background: -webkit-radial-gradient(rgba(92,100,111,0.5) 0%,rgba(31,35,40,1) 100%);
  	background: -o-radial-gradient(rgba(92,100,111,0.5) 0%,rgba(31,35,40,1) 100%);
  	background: -moz-radial-gradient(rgba(92,100,111,0.5) 0%,rgba(31,35,40,1) 100%);
  	background: radial-gradient(rgba(92,100,111,0.5) 0%,rgba(31,35,40,1) 100%);
}

.login_header_1 h1{
	color: white;
	font-size: 70px;
	text-align: center;
	margin: 0;
	margin-top: 0;
	margin-right: 150px;
	padding-top: 30px;
	text-shadow: 5px 5px 2px #333

}

.login_header_2 h1{
	color: white;
	font-size: 70px;
	margin: 0;
	margin-left: 100px;
	margin-top: -10px;
	text-align: center;
	text-shadow: 5px 5px 2px #333
}

.login_box {
	font-size: 16px;
	width: 40%;
	height: 250px;
	margin: auto;
	margin-top: 100px;
	background-color: #f1f3f3;
	border-radius: 10px;
	box-sizing: border-box;
	text-align: center;
}

.login_name_pass_headers {
	font-size: 20px;
	display:inline-block;
	margin-top: 15px;
	margin-bottom: 5px;
}

.username_password_box {
	width: 325px;
	height: 25px;
	border: 1px solid black;
	border-radius: 5px;
}

.sign_in_button {
	color: black;
	font-size: 25px;
	text-decoration: none;
	margin-top: 40px;
	border: 1px solid black;
	border-radius: 5px;
	height: 35px;
	background-color: #37a69b;
}

.signup_box {
	font-size: 20px;
	width: 40%;
	height: 40px;
	margin: auto;
	margin-top: 15px;
	background-color: #f1f3f3;
	border-radius: 10px;
	box-sizing: border-box;
	text-align: center;
}

.signup_box p{
	margin: 0; 
	padding-top: 9px;
}

form.login {
	margin: 10px;
	background-color: rgba(255, 255, 255, 0.76);
	justify-content: center;
	display: flex;
	width: 500px;
	height: 550px;
	border-radius: 10px;
}

.loginbtn {
	width: 100%;
  }

/* LOGIN CSS page ____________________________________________________________________________________________________________________________*/





/* SIGNUP CSS page __________________________________________________________________________________________________________________________*/
body.background{
	justify-content: center;
	display: flex;
}

form.signup {
	margin: 10px;
	background-color: rgba(255, 255, 255, 0.76);
	justify-content: center;
	display: flex;
	width: 500px;
	height: 710px;
	border-radius: 10px;
}

* {box-sizing: border-box}
hr {
	border: 1px solid #f1f1f1;
	margin-bottom: 25px;
  }
input.signup[type=text], input.signup[type=password] {
	width: 100%;
	padding: 15px;
	margin: 5px 0 22px 0;
	display: inline-block;
	border: none;
	background: #f1f1f1;
  }
  .container {
	padding: 16px;
  }

  .cancelbtn, .signupbtn {
	float: left;
	width: 50%;
  }
  .clearfix::after {
	content: "";
	clear: both;
	display: table;
  }
  @media screen and (max-width: 300px) {
	.cancelbtn, .signupbtn {
	  width: 100%;
	}
  }


/* SIGNUP CSS page __________________________________________________________________________________________________________________________*/




/* WELCOME CSS page __________________________________________________________________________________________________________________________*/
			
.static_header_bar {
	width: 100%;
	height: 80px;
	margin-top: 0px;
	border-bottom: 2px solid white;
	display: inline-block;
	box-sizing: border-box;
	background: rgba(62,70,80,1);
}
#new_issue_button{
	top: 0;
	right: 0;
}
#my_issue_button{
	top: 0;
	left: 0;
}

.navigation:hover{
	background-color: #f1f3f3;
}
.navigation{
	height: 80px;
	width: 150px;
	background-color: rgb(202, 211, 203);
	border: none;
	text-align: center;
	text-decoration: none;
	display: block;
	font-size: 20px;
	cursor: pointer;
	float: right;
	position: absolute;
}

.profile_logout_buttons {
	font-size: 20px;
	font-weight: bold;
	display: inline-block;
	float: left;
	margin: 0;
	margin-top: 10px;
	padding-left: 20px;
}

.profile_logout_buttons p{
	margin: 0;
	margin-bottom: 15px;
}

.profile_logout_buttons a:hover {
	color: rgba(255, 255, 255, 0.76);
}

.profile_logout_buttons a {
	color: white;
	text-decoration: none;
}

#create_new_issue_btn {
	float: right;
}

#create_new_issue_btn p {
	float: right;
	margin: 0;
	margin-top: 17px;
	padding-right: 20px;
}

.title {
	padding-left: 40%;
	font-size: 30px;
	color: white;
	text-align: center;
	display: inline-block;
}

.title h4:nth-child(1){
	margin: 0;
	margin-right: 100px; 
	margin-top: 5px;
}

.title h4:nth-child(2){
	margin: 0;
}

.side_bar {
	width: 150px;
	height:calc(100% - 80px);
	overflow: auto;
	margin-top: -1px;
	float: left;
	border-right: 2px solid white;
	display: inline-block;
	box-sizing: border-box;
	background: rgba(62,70,80,1);
	text-align: center;
}

.side_bar p {
	font-size: 20px;
	color: grey;
	margin: 0;
	margin-top: 2px;
}

.side_bar p:nth-child(1) {
	margin-top: 15px;
}

.side_bar {
	text-align: center;
}

.side_bar button {
	margin-top: 10px;
	width: 80%;
}

.work_box {
	width:calc(100% - 150px);
	height:calc(100% - 80px);
	display: inline-block;
	box-sizing: border-box;
	background: rgba(62,70,80,1);
}

/* WELCOME CSS page __________________________________________________________________________________________________________________________*/









/* MYPROFILE CSS page __________________________________________________________________________________________________________________________*/

/*.myprofile_side_bar {
	width: 150px;
	height:calc(100% - 80px);
	overflow: auto;
	margin-top: -1px;
	float: left;
	border-right: 2px solid white;
	display: inline-block;
	box-sizing: border-box;
	background: rgba(62,70,80,1);
	text-align: center;
}*/

.activity{
	width: 100%;
	background-color: rgb(202, 211, 203);
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
}

.activity:hover{
	background-color: #f1f3f3;
}

/*.myprofile_side_bar p {
	font-size: 25px;
	color: white;
	margin: 0;
	margin-top: 2px;
}

.myprofile_side_bar p:nth-child(1) {
	margin-top: 15px;
}*/

.work_box {
	width:calc(100% - 150px);
	height:calc(100% - 80px);
	overflow: auto;
	display: inline-block;
	box-sizing: border-box;
	background: rgba(62,70,80,1);
}

.work_box h2{
	font-size: 40px;
	color: white;
	text-align: center;
}

/*.myquestion_box {
	width: 80%;
	margin: auto;
	border: 1px solid;
	color: black;
	box-sizing: border-box;
	background: #f1f3f3;
	margin-bottom: 30px;
}

.myquestion_box a {
	text-decoration: none;
	color: black;
}

.myquestion_box p:nth-child(1){
	margin: 0;
	margin-left: 20px;
	margin-top: 20px;
	font-weight: bold;
	text-align: left;
}
.myquestion_box p:nth-child(2){
	font-size: 30px;
	font-weight: bold;
	margin: 0;
	text-align: center;
}*/

/*.myquestion_box p:nth-child(3){
	margin: 0;
	margin-right: 20px;
	margin-bottom: 5px;
	font-weight: bold;
	text-align: right;
}

.myquestion_box p:nth-child(4){
	margin: 0;
	margin-right: 20px;
	font-weight: bold;
	text-align: right;
}

.myquestion_box p:nth-child(5){
	text-align: left;
	margin-left: 20px;
	margin-bottom: 20px;
}*/

/* MYPROFILE CSS page __________________________________________________________________________________________________________________________*/










/* EXERCISE CSS page __________________________________________________________________________________________________________________________*/

.work_box {
	width:calc(100% - 150px);
	height:calc(100% - 80px);
	overflow: auto;
	display: inline-block;
	box-sizing: border-box;
	background: rgba(62,70,80,1);
}

.work_box h2{
	font-size: 40px;
	color: white;
	text-align: center;
}

.question_box {
	width: 70%;
	margin: auto;
	border: 1px solid;
	color: black;
	box-sizing: border-box;
	background: rgba(241,243,243,0.95);
	margin-bottom: 30px;
}

.question_box a {
	text-decoration: none;
	color: black;
}

.check_div {
	display: inline-block;
	margin-top: 20px;
	margin-left: 20px;
}

.title_div {
	font-size: 25px;
	display: inline-block;
	width: 60%;
	vertical-align: top;
	/*margin-left: 150px;*/
}

.title_div p{
	text-align: center;
	font-weight: bold;
}

.data_div{
	display: inline-block;
	float: right;
	margin-top: 15px; 
	margin-right: 20px;
}

.data_div p {
	margin: 0;
	text-align: left;
}

.open_new_issue_div {
	width: 70%;
	margin: auto;
	margin-bottom: 30px;
}

.open_new_issue_button {
	color: black;
	font-size: 25px;
	text-decoration: none;
	margin-top: 30px;
	border: 1px solid black;
	border-radius: 5px;
	height: 35px;
	background-color: #f1f3f3;
}

/* EXERCISE CSS page __________________________________________________________________________________________________________________________*/











/* NEW ISSUE CSS page __________________________________________________________________________________________________________________________*/

form.new_issue {
	margin: 10px;
	background-color: rgba(255, 255, 255, 0.76);
	justify-content: center;
	display: inline-block;
	padding: 20px;
	border-radius: 10px;
}
input.new_issue_in {
	width: 100%;
	padding: 15px;
	margin: 5px 0 22px 0;
	display: inline-block;
	border: none;
	background: #f1f1f1;
}
#options{
	border:none;
	height:30px;
	font-size: 16px;
}

.new_issue_txt{
	width: 100%;
	padding: 15px;
	margin: 5px 0 22px 0;
	display: inline-block;
	border: none;
	font-size: 14px;
	background: #f1f1f1;
}
  
.new_issue_lbl {
	text-align: left;
	font-size: 20px;
	font-weight: 700;
}
.new_issue_act {
	text-align: left;
	font-size: 16px;
	margin-left: 10px;
}
.work_box {
	width:calc(100% - 150px);
	height:calc(100% - 80px);
	overflow: auto;
	text-align: center;
	display: inline-block;
	box-sizing: border-box;
	background: rgba(62,70,80,1);
}

.work_box h2{
	font-size: 40px;
	color: white;
	text-align: center;
}

.new_issue_div {
	width: 70%;
	margin: auto;
	border: 1px solid;
	color: black;
	box-sizing: border-box;
	background: #f1f3f3;
	margin-bottom: 30px;
}

.new_issue_div p {
	margin-top: 30px;
}


.new_issue_exercise_div p {
	margin-top: 5px;
}

.issue_title_div {
	width: 15%;
	margin-bottom: 30px;
}

.issue_title_div p {
	margin-bottom: 5px;
}

.description_div {
	width: 15%;
	margin-bottom: 30px;
}

.description_div p {
	margin-bottom: 5px;
}

.post_new_button_div {
	width: 70%;
	margin: auto;
	margin-bottom: 30px;
}

#post_btn_lisght{
	float: right;
}

/* NEW ISSUE CSS page __________________________________________________________________________________________________________________________*/