<!DOCTYPE html>
<html>
<head>
	<title>Exercise page</title>
	<link rel="stylesheet" href="../static/style.css">
	<link href="css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
	<div class="main_div">
		<div class="static_header_bar">
			<div id="avatar_image">
				<a href=""><img src="../static/avatar_images/kenny.jpg" style="width:78px;height:78px;display: inline-block;"></a>
	    	</div>

	        <div class="profile_logout_buttons">
	        	<p><a href="">My profile</a></p>
	        	<p><a href="">Log out</a></p>
	        </div>

	        <div class="title">
	        	<h4>Code</h4>
	        	<h4>Assist</h4>
	    	</div>
		</div>

		<div class="exercise_side_bar">
			<p><a href="">Activity 01</a></p>
			<p><a href="">Activity 02</a></p>
			<p><a href="">Activity 03</a></p>
			<p><a href="">Activity 04</a></p>
			<p><a href="">Activity 05</a></p>
			<p><a href="">Activity 06</a></p>
			<p><a href="">Activity 07</a></p>
			<p><a href="">Activity 08</a></p>
			<p><a href="">Activity 09</a></p>
			<p><a href="">Activity 10</a></p>
			<p><a href="">Activity 11</a></p>
			<p><a href="">Activity 12</a></p>
			<p><a href="">Activity 13</a></p>
			<p><a href="">Activity 14</a></p>
			<p><a href="">Activity 15</a></p>
			<p><a href="">Activity 16</a></p>
			<p><a href="">Activity 17</a></p>
			<p><a href="">Activity 18</a></p>
			<p><a href="">Extra 01</a></p>
			<p><a href="">Extra 02</a></p>
			<p><a href="">Extra 03</a></p>
			<p><a href="">Extra 04</a></p>
			<p><a href="">Extra 05</a></p>
			<p><a href="">Extra 06</a></p>
			<p><a href="">Extra 07</a></p>
			<p><a href="">Extra 08</a></p>
			<p><a href="">Extra 09</a></p>
			<p><a href="">Extra 10</a></p>
			<p><a href="">Extra 11</a></p>
			<p><a href="">Extra 12</a></p>
		</div>

		<div class="exercise_box">
			<h2>Activity 07</h2>

			<div class="open_new_issue_div">
	        	<input class="open_new_issue_button" type="submit" name="commit" value="Open new question">
	        </div>

			<div class="question_box">
				<div class="check_div">
					<img src="../static/icons/check.jpg" style="width:40px;height:40px;">
				</div>

				<div class="title_div">
					<p><a href="">Issue titel</a></p>
				</div>

				<div class="data_div">
					<p>Posted by: abcd</p>
					<p>Date: 16.07.2019</p>
					<p>Replys: 14</p>
				</div>	
			</div>	

			<div class="question_box">
				<div class="check_div">
					<img src="../static/icons/minus.jpg" style="width:40px;height:40px;">
				</div>

				<div class="title_div">
					<p><a href="">Issue titel</a></p>
				</div>

				<div class="data_div">
					<p>Posted by: abcd</p>
					<p>Date: 16.07.2019</p>
					<p>Replys: 14</p>
				</div>	
			</div>	

			<div class="question_box">
				<div class="check_div">
					<img src="../static/icons/check.jpg" style="width:40px;height:40px;">
				</div>

				<div class="title_div">
					<p><a href="">Issue titel</a></p>
				</div>

				<div class="data_div">
					<p>Posted by: abcd</p>
					<p>Date: 16.07.2019</p>
					<p>Replys: 14</p>
				</div>	
			</div>	

			<div class="question_box">
				<div class="check_div">
					<img src="../static/icons/check.jpg" style="width:40px;height:40px;">
				</div>

				<div class="title_div">
					<p><a href="">Issue titel</a></p>
				</div>

				<div class="data_div">
					<p>Posted by: abcd</p>
					<p>Date: 16.07.2019</p>
					<p>Replys: 14</p>
				</div>	
			</div>	

			<div class="question_box">
				<div class="check_div">
					<img src="../static/icons/minus.jpg" style="width:40px;height:40px;">
				</div>

				<div class="title_div">
					<p><a href="">Issue titel</a></p>
				</div>

				<div class="data_div">
					<p>Posted by: abcd</p>
					<p>Date: 16.07.2019</p>
					<p>Replys: 14</p>
				</div>	
			</div>	

			<div class="question_box">
				<div class="check_div">
					<img src="../static/icons/check.jpg" style="width:40px;height:40px;">
				</div>

				<div class="title_div">
					<p><a href="">Issue titel</a></p>
				</div>

				<div class="data_div">
					<p>Posted by: abcd</p>
					<p>Date: 16.07.2019</p>
					<p>Replys: 14</p>
				</div>	
			</div>	

			<div class="question_box">
				<div class="check_div">
					<img src="../static/icons/check.jpg" style="width:40px;height:40px;">
				</div>

				<div class="title_div">
					<p><a href="">Issue titel</a></p>
				</div>

				<div class="data_div">
					<p>Posted by: abcd</p>
					<p>Date: 16.07.2019</p>
					<p>Replys: 14</p>
				</div>	
			</div>	

			<div class="question_box">
				<div class="check_div">
					<img src="../static/icons/minus.jpg" style="width:40px;height:40px;">
				</div>

				<div class="title_div">
					<p><a href="">Issue titel</a></p>
				</div>

				<div class="data_div">
					<p>Posted by: abcd</p>
					<p>Date: 16.07.2019</p>
					<p>Replys: 14</p>
				</div>	
			</div>	

			<div class="question_box">
				<div class="check_div">
					<img src="../static/icons/check.jpg" style="width:40px;height:40px;">
				</div>

				<div class="title_div">
					<p><a href="">Issue titel</a></p>
				</div>

				<div class="data_div">
					<p>Posted by: abcd</p>
					<p>Date: 16.07.2019</p>
					<p>Replys: 14</p>
				</div>	
			</div>	

		</div>
	</div>
</body>
</html>