<!DOCTYPE html>
<html>
<head>
	<title>Exercise page</title>
	<link rel="stylesheet" href="../static/css/style.css">
	<link href="css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
	<div class="main_div">
		<div class="static_header_bar">
			<div id="avatar_image">
				<a href=""><img src="../static/avatar_images/kenny.jpg" style="width:78px;height:78px;display: inline-block;"></a>
	    	</div>

	        <div class="profile_logout_buttons">
	        	<p><a href="">My profile</a></p>
	        	<p><a href="">Log out</a></p>
	        </div>

	        <div class="title">
	        	<h4>Code</h4>
	        	<h4>Assist</h4>
	    	</div>
		</div>

		<div class="exercise_side_bar">
			<button type="button" class="btn btn-light">Activity 01</button>
			<button type="button" class="btn btn-light">Activity 02</button>
			<button type="button" class="btn btn-light">Activity 04</button>
			<button type="button" class="btn btn-light">Activity 04</button>
			<button type="button" class="btn btn-light">Activity 05</button>
			<button type="button" class="btn btn-light">Activity 06</button>
			<button type="button" class="btn btn-light">Activity 07</button>
			<button type="button" class="btn btn-light">Activity 08</button>
			<button type="button" class="btn btn-light">Activity 09</button>
			<button type="button" class="btn btn-light">Activity 10</button>
			<button type="button" class="btn btn-light">Activity 11</button>
			<button type="button" class="btn btn-light">Activity 12</button>
			<button type="button" class="btn btn-light">Activity 13</button>
			<button type="button" class="btn btn-light">Activity 14</button>
			<button type="button" class="btn btn-light">Activity 15</button>
			<button type="button" class="btn btn-light">Activity 16</button>
			<button type="button" class="btn btn-light">Activity 17</button>
			<button type="button" class="btn btn-light">Activity 18</button>
			<button type="button" class="btn btn-light">Extra 01</button>
			<button type="button" class="btn btn-light">Extra 02</button>
			<button type="button" class="btn btn-light">Extra 03</button>
			<button type="button" class="btn btn-light">Extra 04</button>
			<button type="button" class="btn btn-light">Extra 05</button>
			<button type="button" class="btn btn-light">Extra 06</button>
			<button type="button" class="btn btn-light">Extra 07</button>
			<button type="button" class="btn btn-light">Extra 08</button>
			<button type="button" class="btn btn-light">Extra 09</button>
			<button type="button" class="btn btn-light">Extra 10</button>
			<button type="button" class="btn btn-light">Extra 11</button>
			<button type="button" class="btn btn-light">Extra 12</button>
		</div>

		<div class="work_box">
			<h2>Activity 07</h2>

			<div class="open_new_issue_div">
	        	<input class="open_new_issue_button" type="submit" name="commit" value="Open new question">
	        </div>

			<div class="question_box">
				<div class="check_div">
					<img src="../static/icons/check.jpg" style="width:40px;height:40px;">
				</div>

				<div class="title_div">
					<p><a href="">Issue title</a></p>
				</div>

				<div class="data_div">
					<p>Posted by: abcd</p>
					<p>Date: 16.07.2019</p>
					<p>Replies: 14</p>
				</div>	
			</div>	

			<div class="question_box">
				<div class="check_div">
					<img src="" style="width:40px;height:40px;">
				</div>

				<div class="title_div">
					<p><a href="">Issue title</a></p>
				</div>

				<div class="data_div">
					<p>Posted by: abcd</p>
					<p>Date: 16.07.2019</p>
					<p>Replies: 14</p>
				</div>	
			</div>	

			<div class="question_box">
				<div class="check_div">
					<img src="../static/icons/check.jpg" style="width:40px;height:40px;">
				</div>

				<div class="title_div">
					<p><a href="">Issue title</a></p>
				</div>

				<div class="data_div">
					<p>Posted by: abcd</p>
					<p>Date: 16.07.2019</p>
					<p>Replies: 14</p>
				</div>	
			</div>	

			<div class="question_box">
				<div class="check_div">
					<img src="../static/icons/check.jpg" style="width:40px;height:40px;">
				</div>

				<div class="title_div">
					<p><a href="">Issue title</a></p>
				</div>

				<div class="data_div">
					<p>Posted by: abcd</p>
					<p>Date: 16.07.2019</p>
					<p>Replies: 14</p>
				</div>	
			</div>	

			<div class="question_box">
				<div class="check_div">
					<img src="../static/icons/minus.jpg" style="width:40px;height:40px;">
				</div>

				<div class="title_div">
					<p><a href="">Issue title</a></p>
				</div>

				<div class="data_div">
					<p>Posted by: abcd</p>
					<p>Date: 16.07.2019</p>
					<p>Replies: 14</p>
				</div>	
			</div>	

			<div class="question_box">
				<div class="check_div">
					<img src="../static/icons/check.jpg" style="width:40px;height:40px;">
				</div>

				<div class="title_div">
					<p><a href="">Issue title</a></p>
				</div>

				<div class="data_div">
					<p>Posted by: abcd</p>
					<p>Date: 16.07.2019</p>
					<p>Replies: 14</p>
				</div>	
			</div>	

			<div class="question_box">
				<div class="check_div">
					<img src="../static/icons/check.jpg" style="width:40px;height:40px;">
				</div>

				<div class="title_div">
					<p><a href="">Issue title</a></p>
				</div>

				<div class="data_div">
					<p>Posted by: abcd</p>
					<p>Date: 16.07.2019</p>
					<p>Replies: 14</p>
				</div>	
			</div>	

			<div class="question_box">
				<div class="check_div">
					<img src="../static/icons/minus.jpg" style="width:40px;height:40px;">
				</div>

				<div class="title_div">
					<p><a href="">Issue title</a></p>
				</div>

				<div class="data_div">
					<p>Posted by: abcd</p>
					<p>Date: 16.07.2019</p>
					<p>Replies: 14</p>
				</div>	
			</div>	

			<div class="question_box">
				<div class="check_div">
					<img src="../static/icons/check.jpg" style="width:40px;height:40px;">
				</div>

				<div class="title_div">
					<p><a href="">Issue title</a></p>
				</div>

				<div class="data_div">
					<p>Posted by: abcd</p>
					<p>Date: 16.07.2019</p>
					<p>Replies: 14</p>
				</div>	
			</div>	

		</div>
	</div>
</body>
</html>