<!DOCTYPE html>
<html>
<head>
	<title>My Profile</title>
	<link href="css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
	<div class="main_div">
		<div class="static_header_bar">
			<div id="avatar_image">
				<a href=""><img src="../static/avatar_images/kenny.jpg" style="width:79px;height:79px;display: inline-block;"></a>
	    	</div>

	        <div class="profile_logout_buttons">
	        	<p><a href="">My profile</a></p>
	        	<p><a href="">Log out</a></p>
	        </div>

	        <div class="title">
	        	<h4>Code</h4>
	        	<h4>Assist</h4>
	    	</div>
		</div>

		<div class="myprofile_side_bar">
			<p>Name</p>
			<p>Surname</p>
			<p>Bootcamp code</p>
			<p>email</p>
		</div>

		<div class="myprofile_box">
			<h2>My questions</h2>
			<div class="myquestion_box">
				<p>Activity 01</p>
				<h3>Issue titel</h3>		
				<p>Posted by: abcd</p>
				<p>Date: 16.07.2019</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
		</div>
	</div>
</body>
</html>