<!DOCTYPE html>
<html>
<head>
	<title>New Issue</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="../static/css/style.css">
	<link href="css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
	<div class="main_div">
		<div class="static_header_bar">
			<div id="avatar_image">
				<a href=""><img src="../static/avatar_images/kenny.jpg" style="width:78px;height:78px;display: inline-block;"></a>
	    	</div>

	        <div class="profile_logout_buttons">
	        	<p><a href="">My profile</a></p>
	        	<p><a href="">Log out</a></p>
	        </div>

	        <div class="title">
	        	<h4>Code</h4>
	        	<h4>Assist</h4>
	    	</div>
		</div>

		<div class="exercise_side_bar">
			<p><a href="">Activity 01</a></p>
			<p><a href="">Activity 02</a></p>
			<p><a href="">Activity 03</a></p>
			<p><a href="">Activity 04</a></p>
			<p><a href="">Activity 05</a></p>
			<p><a href="">Activity 06</a></p>
			<p><a href="">Activity 07</a></p>
			<p><a href="">Activity 08</a></p>
			<p><a href="">Activity 09</a></p>
			<p><a href="">Activity 10</a></p>
			<p><a href="">Activity 11</a></p>
			<p><a href="">Activity 12</a></p>
			<p><a href="">Activity 13</a></p>
			<p><a href="">Activity 14</a></p>
			<p><a href="">Activity 15</a></p>
			<p><a href="">Activity 16</a></p>
			<p><a href="">Activity 17</a></p>
			<p><a href="">Activity 18</a></p>
			<p><a href="">Extra 01</a></p>
			<p><a href="">Extra 02</a></p>
			<p><a href="">Extra 03</a></p>
			<p><a href="">Extra 04</a></p>
			<p><a href="">Extra 05</a></p>
			<p><a href="">Extra 06</a></p>
			<p><a href="">Extra 07</a></p>
			<p><a href="">Extra 08</a></p>
			<p><a href="">Extra 09</a></p>
			<p><a href="">Extra 10</a></p>
			<p><a href="">Extra 11</a></p>
			<p><a href="">Extra 12</a></p>
		</div>

		<div class="work_box">
			<h2>Open new issue</h2>

			<div class="new_issue_div">		
				<p style="margin-left: 20px; margin-bottom: 0px;">Exercise:</p>
				<div class="new_issue_exercise_div">
		        	<p>Activity 08</p>
		        </div>
		
				<div class="issue_title_div">
					<p>Issue title:</p>
					<input type="text" name="title" placeholder="title">
				</div>	

				<div class="description_div">
					<p>Description:</p>
					<textarea rows="8" cols="100">w
					</textarea> 
				</div>

			</div>

			<div class="post_new_button_div">
	        	<button type="button" id="post_btn_lisght" class="btn btn-light">Post</button>
	        </div>

		</div>
	</div>
</body>
</html>