<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sign up</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="css/style.css" rel="stylesheet" type="text/css">
</head>
<body class="background">
  <div>
    <form name="form" class="signup" method="POST" action="" onsubmit="return validate()">
        <div class="container">
          <h1>Sign Up</h1>
          <p>Please fill in this form to create an account.</p>
          <hr>
      <span>
          <label for="user"><b>Bootcamp ID </b></label><br>
          <input class = "signup" type="text" placeholder="AAAA" name="user" required><br>
      </span>
      <div>
          <label for="name"><b>Name </b></label><br>
          <input class = "signup" type="text" placeholder="Enter your name" name="name" required>
      </div>
          <div>
            <label for="lastname"><b>Surname </b></label><br>
            <input class = "signup" type="text" placeholder="Enter your surname" name="lastname" required>
          </div>
      
          <div>
              <label for="psw"><b>Password</b></label><br>
              <input class = "signup" type="password" placeholder="Enter Password" name="psw" required>
          </div>
      
          <div>
              <label for="psw-repeat"><b>Repeat Password</b></label><br>
              <input class = "signup" type="password" placeholder="Repeat Password" name="psw-repeat" required>
          </div>
      
          <label>
            <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
          </label>
      
      
          <div class="clearfix">
            <a href="login.html"><button type="button" class="cancelbtn">Cancel</button></a>
            <button type="submit" class="signupbtn">Sign Up</button>
          </div>
        </div>
      </form> 
    </div>
    <script> 
        function validate()                                    
        { 
            var code = document.form.user.value;               
            var name = document.form.name.value;    
            var lastname = document.form.lastname.value;  
            var password =  document.form.password.value;
            var repeat = document.form['psw-repeat'].value;

            console.info("Code: "+code);
            console.info("Name: "+name);
            console.info("Lastname: "+lastname);
            console.info("Password: "+password);
            console.info("Re-entered: "+repeat);


            var codereg = /^\w{4}$/;
            var namereg = /^[a-zA-Z]{2,20}$/;   
           
            if (codereg.test(code) == false)                                  
            { 
                console.log(code + " Not valid")
                window.alert("Please enter a valid bootcamp code"); 
                user.focus(); 
                return false; 
            } 
           
            if (name.value == "")                               
            { 
                alert("Please enter your name"); 
                name.focus();
                return false; 
            } 
               
            if (lastname.value == "")                                   
            { 
                window.alert("Please enter your lastname"); 
                lastname.focus(); 
                return false; 
            }
           
            if (password.value == "")                        
            { 
                window.alert("Please enter your password"); 
                psw.focus(); 
                return false; 
            }
           
            if (repeat == "")                  
            { 
                alert("Please enter your course."); 
                'psw-repeat'.focus(); 
                return false; 
            } 
           
            return true; 
        }</script> 
</body>
</html>