<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sign up</title>
<!--     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/style.css">
    <link href="css/style.css" rel="stylesheet" type="text/css">
</head>
<body class="background">
  <div>
    <form class="signup" method="POST" action="signup" style="border:1px solid #ccc">
        <div class="container">
          <h1>Login</h1>
          <hr>
      <span>
          <label for="user"><b>Bootcamp ID</b></label><br>
          <input class = "signup" type="text" placeholder="AAAA" name="user" required><br>
      </span>      
          <div>
              <label for="psw"><b>Password</b></label><br>
              <input class = "signup" type="password" placeholder="Enter Password" name="psw" required>
          </div>       
            <button type="submit" class="signupbtn">Login</button>
          </div>
        </div>
      </form> 
    </div>
</body>
</html>