<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <title>Sign up</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/style.css">
    <link href="css/style.css" rel="stylesheet" type="text/css">
</head>
<body class="background">
  <div>
    <form class="signup" method="POST" action="#" th:action="@{/signup}" th:object="${user}" style="border:1px solid #ccc">
        <div class="container">
          <h1>Sign Up</h1>
          <p th:text="${message}"></p>
          <hr>
      <span>
          <label for="user"><b>Bootcamp ID </b></label><br>
          <input class = "signup" type="text" placeholder="AAAA" name="user" th:field="*{bcCode}" required><br>
      </span>
      <div>
          <label for="name"><b>Name </b></label><br>
          <input class = "signup" type="text" placeholder="Enter your name" name="name" th:field="*{name}" required>
      </div>
          <div>
            <label for="lastname"><b>Surname </b></label><br>
            <input class = "signup" type="text" placeholder="Enter your surname" name="lastname" th:field="*{surname}" required>
          </div>
      
          <div>
              <label for="psw"><b>Password</b></label><br>
              <input class = "signup" type="password" placeholder="Enter Password" name="psw" th:field="*{password}" required>
          </div>
      
          <div>
              <label for="psw-repeat"><b>Repeat Password</b></label><br>
              <input class = "signup" type="password" placeholder="Repeat Password" name="psw-repeat" required>
          </div>
      
          <label>
            <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
          </label>
      
      
          <div class="clearfix">
            <a href="login.html"><button type="button" class="cancelbtn">Cancel</button></a>
            <button type="submit" class="signupbtn">Sign Up</button>
          </div>
        </div>
      </form> 
    </div>
</body>
</html>