<!DOCTYPE html>
<html>
<head>
	<title>Welcome</title>
	<link rel="stylesheet" href="../static/css/style.css">
	<link href="css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
	<div class="main_div">
		<div class="static_header_bar">
			<div id="avatar_image">
				<a href=""><img src="../static/avatar_images/kenny.jpg" style="width:78px;height:78px;display: inline-block;"></a>
	    	</div>

	        <div class="profile_logout_buttons">
	        	<p><a href="">My profile</a></p>
	        	<p><a href="">Log out</a></p>
	        </div>

	        <div class="title">
	        	<h4>Code</h4>
	        	<h4>Assist</h4>
	    	</div>
		</div>

		<div class="exercise_side_bar">
			<button type="button" class="btn btn-light">Activity 01</button>
			<button type="button" class="btn btn-light">Activity 02</button>
			<button type="button" class="btn btn-light">Activity 04</button>
			<button type="button" class="btn btn-light">Activity 04</button>
			<button type="button" class="btn btn-light">Activity 05</button>
			<button type="button" class="btn btn-light">Activity 06</button>
			<button type="button" class="btn btn-light">Activity 07</button>
			<button type="button" class="btn btn-light">Activity 08</button>
			<button type="button" class="btn btn-light">Activity 09</button>
			<button type="button" class="btn btn-light">Activity 10</button>
			<button type="button" class="btn btn-light">Activity 11</button>
			<button type="button" class="btn btn-light">Activity 12</button>
			<button type="button" class="btn btn-light">Activity 13</button>
			<button type="button" class="btn btn-light">Activity 14</button>
			<button type="button" class="btn btn-light">Activity 15</button>
			<button type="button" class="btn btn-light">Activity 16</button>
			<button type="button" class="btn btn-light">Activity 17</button>
			<button type="button" class="btn btn-light">Activity 18</button>
			<button type="button" class="btn btn-light">Extra 01</button>
			<button type="button" class="btn btn-light">Extra 02</button>
			<button type="button" class="btn btn-light">Extra 03</button>
			<button type="button" class="btn btn-light">Extra 04</button>
			<button type="button" class="btn btn-light">Extra 05</button>
			<button type="button" class="btn btn-light">Extra 06</button>
			<button type="button" class="btn btn-light">Extra 07</button>
			<button type="button" class="btn btn-light">Extra 08</button>
			<button type="button" class="btn btn-light">Extra 09</button>
			<button type="button" class="btn btn-light">Extra 10</button>
			<button type="button" class="btn btn-light">Extra 11</button>
			<button type="button" class="btn btn-light">Extra 12</button>
		</div>

		<div class="work_box">
			<h1>Welcome to hell!!!</h1>
		</div>
	</div>
</body>
</html>