<!DOCTYPE html>
<html>
<head>
	<title>Welcome</title>
	<link rel="stylesheet" href="../static/style.css">
	<link href="css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
	<div class="main_div">
		<div class="static_header_bar">
			<div id="avatar_image">
				<a href=""><img src="../static/avatar_images/kenny.jpg" style="width:79px;height:79px;display: inline-block;"></a>
	    	</div>

	        <div class="profile_logout_buttons">
	        	<p><a href="">My profile</a></p>
	        	<p><a href="">Log out</a></p>
	        </div>

	        <div class="title">
	        	<h4>Code</h4>
	        	<h4>Assist</h4>
	    	</div>
		</div>

		<div class="exercise_side_bar">
			<p><a href="">Activity 01</a></p>
			<p><a href="">Activity 02</a></p>
			<p><a href="">Activity 03</a></p>
			<p><a href="">Activity 04</a></p>
			<p><a href="">Activity 05</a></p>
			<p><a href="">Activity 06</a></p>
			<p><a href="">Activity 07</a></p>
			<p><a href="">Activity 08</a></p>
			<p><a href="">Activity 09</a></p>
			<p><a href="">Activity 10</a></p>
			<p><a href="">Activity 11</a></p>
			<p><a href="">Activity 12</a></p>
			<p><a href="">Activity 13</a></p>
			<p><a href="">Activity 14</a></p>
			<p><a href="">Activity 15</a></p>
			<p><a href="">Activity 16</a></p>
			<p><a href="">Activity 17</a></p>
			<p><a href="">Activity 18</a></p>
			<p><a href="">Extra 01</a></p>
			<p><a href="">Extra 02</a></p>
			<p><a href="">Extra 03</a></p>
			<p><a href="">Extra 04</a></p>
			<p><a href="">Extra 05</a></p>
			<p><a href="">Extra 06</a></p>
			<p><a href="">Extra 07</a></p>
			<p><a href="">Extra 08</a></p>
			<p><a href="">Extra 09</a></p>
			<p><a href="">Extra 10</a></p>
			<p><a href="">Extra 11</a></p>
			<p><a href="">Extra 12</a></p>
		</div>

		<div class="welcome_message_box">
			<h1>Welcome to hell!!!</h1>
		</div>
	</div>
</body>
</html>