<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">

<head>
	<title>Admin page</title>
	<link rel="stylesheet" href="../../static/css/style.css">
	<link href="css/style.css" rel="stylesheet" type="text/css">
	<link href="${contextPath}/resources/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="admin_background">
		<div class="login_header_1">
				<h1>Code</h1>
			  </div>
		  
			  <div class="login_header_2">
				<h1>Assist</h1>
			  </div>
	  

		<h2 style="margin-top: 30px; margin-bottom: 30px; text-align: center; font-size: 40px;">admin page</h2>
			
		<!-- <div class="admin_div" style="height: 300px; width: 300px; background: rgba(241,243,243,0.95); width: 50%; margin: auto;">
			<p>qwerty</p>
		</div> -->

		<form class="login" method="POST" action="#" th:action="@{/admin}" th:object="${helper}" style="border:1px solid #ccc; margin: auto; 
		    width: -webkit-fit-content;
    height: -webkit-fit-content;
    width: -moz-fit-content;
    height: -moz-fit-content;
		">
	        <div class="container" style="width: 80%">
	          <h1 style="font-size: 30px";>Activity name generator</h1>
	          
	          <hr>
		      <span>
		          <label for="user"><b>Activity type:</b></label><br>
		          <input class = "signup" type="text" placeholder="Enter type of activity to generate" th:field="*{activityName}" name="user" required><br>
		      </span>      
	          <div>
	              <label for="psw"><b>Number of activities:</b></label><br>
	              <input class = "signup" type="text" placeholder="Enter number of activities to generata" th:field="*{activityCount}" name="psw" required>
	          </div> 
	          <div>      
	            <button type="submit" class="loginbtn">Generate</button>
	          </div>
			  <hr >
			  <button onclick="window.location.href='/h2-console'" class="loginbtn">Continue</button>

	        </div>
      	</form> 
	
</body>
</html>