<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
	<title>Comments</title>
	<link rel="stylesheet" href="../../static/css/style.css">
	<link href="css/style.css" rel="stylesheet" type="text/css">
	<link href="${contextPath}/resources/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</head>

<body>
	<div class="main_div">
		<div class="static_header_bar">

	        <div class="profile_logout_buttons">
	        	<p><a href="/myProfile">My profile</a></p>
	        	<c:if test="${pageContext.request.userPrincipal.name != null}">
			        <form id="logoutForm" method="POST" action="/logout">
			            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
			        </form>

			        <p><a onclick="document.forms['logoutForm'].submit()">Logout</a></p>
		    	</c:if>
	        </div>

	        <div class="title">
	        	<h4>Code</h4>
	        	<h4>Assist</h4>
	    	</div>

	    	<div id="create_new_issue_btn" class="profile_logout_buttons">
	    		<p><a href="/newIssue">Open new issue</a></p>
	    	</div>

		</div>

		<div class="side_bar">
			<div th:each="activity:${activityList}" >
				<button onclick="pass(this)" class="activity" th:text="${activity.getName()}">No activities</button><br>
			</div>
		</div>

		<div class="work_box">
			<h2 th:text="${title}">No issue selected</h2>
			<div class="container-fluid" style="background-color: rgba(241, 243, 243, 0.95); margin: 20px">
			<div class ="row" >
				<div class="col">
					<b><div class="row">
						<div class="col-sm-2 col-xs-4" style="padding-top: 10px">
							<p th:text=${issue.getExercise().getName()}>Activity
							</p>
							<form method="POST" action="#" th:object="${update}" th:if="${isOwner}" >
							<input th:field="*{upd}" type="button" class="btn btn-default" aria-label="Left Align" title="Close Issue" th:value = "1">
									<span th:if = "${!issue.isSolved()}" class="glyphicon glyphicon-ok" aria-hidden="true" title="Close Issue"></span>
									<span th:else class="glyphicon glyphicon-remove" aria-hidden="true" title="Re-open issue"></span>
							</button>
						</form>
						</div>
						<div class="col-sm-8 col-xs-4">
							<h3 th:text=${issue.getTitle()} style = "color: #666; word-wrap: break-word">Lorem sdhgbaskdhģakhdakshdģak dsahgdahšķdģāksdhģa</h3>
						</div>
						<div class="col-sm-2 col-xs-4" style = "text-align: left; padding-top: 10px">
								<p>Posted by: <span th:text=${issue.getUser().getUsername()}>Aaaa</span><br>
								Date: <span th:text="${issue.getDate()}">16.07.2019</span><br>
								Replies: <span th:text="${issue.getReplysForIssue()}">14</span><br>
								Is solved: <span th:text="${issue.isSolved()}">false</span></p>
						</div>
					</div></b>
					<div class="row" style=" margin: 20px">
						<div class = "col-sm-auto" style="text-align: left">
							<h4 >Description:</h4>
							<p th:text=${issue.getDescription()}></p>
						</div>
					</div>

				</div>
			</div>
		</div>
		<hr>
		<div class = "container-fluid" style="background-color: rgba(241, 243, 243, 0.80); margin: 20px; padding: 30px">
			<div class="row" th:each="comment:${replyList}">
				<div class="col-sm-2 col-xs-1" style="text-align: left">
					
						<strong><span th:text=${comment.getUser().getUsername()}>User</span>:</strong><br>
						Date: <span th:text="${comment.getDate()}">16.07.2019</span>
					
				</div>
				<div class="col" style ="word-wrap: break-word">
					<p th:text = ${comment.getReplyText()}>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, atque dolorum laboriosam sapiente corrupti quam mollitia dignissimos rem necessitatibus eos quia rerum consectetur. Consectetur nesciunt suscipit odio quisquam, ea quis.</p>
				</div>
			</div>
			<div class="row">
				<div class = "col">
			<hr>
			<form action="" method ="POST" th:object=${reply} id="comment" >
				<textarea th:field="*{replyText}" class="form-control z-depth-1" name="comment" row ="50" id="comment"   placeholder="Add Comment" form="comment" ></textarea><br>
				<input type="submit" value="Comment">
			</form>
		</div>
		</div>
		</div>

	
		</div>

	</div>

       <script>
	// Sends to activity page with paramater - name in button
	function pass(button){
		var value1=button.innerText;
		var queryString = "?activity=" + value1;
		window.location.href = "exercisePage" + queryString;
	}
	// Gets passed parameter and displays it on header
	

	</script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script src="${contextPath}/resources/js/bootstrap.min.js"></script>
</body>
</html>