<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
	<title>Exercise page</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
	<link href="/resources/css/style.css" rel="stylesheet" type="text/css">
	<link href="${contextPath}/resources/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
	<div class="main_div">
		<div class="static_header_bar">

	        <div class="profile_logout_buttons">
	        	<p  style="margin-bottom: 5px"><a href="/myProfile">My profile</a></p>
	        	<c:if test="${pageContext.request.userPrincipal.name != null}">
			        <form id="logoutForm" method="POST" action="/logout">
			            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
			        </form>

			        <p><a onclick="document.forms['logoutForm'].submit()">Logout</a></p>
		    	</c:if>
	        </div>

			<div style="
				padding-left: 40%;
				color: white;
				text-align: center;
				display: inline-block;
			">
				<h4 style="
					margin: 0;
					margin-right: 100px; 
					margin-top: 5px;
					font-size: 30px;
					font-weight: 600;
				">Code</h4>
				<h4 style="margin: 0; font-size: 30px; font-weight: 600;">Assist</h4>
	    	</div>

	    	<div id="create_new_issue_btn" class="profile_logout_buttons">
				<p><a href="/newIssue">Open new issue</a></p>
				<p th:if="${isAdmin}"><a href="/admin">Go to admin</a></p>
	    	</div>
	    	
		</div>

		<div class="side_bar">
			<div th:each="activity:${activityList}">
				<button onclick="pass(this)" class="activity" th:text="${activity.getName()}">No activities</button><br>
			</div>
		</div>

		<div class="work_box">
			<h2 th:text="${title}"></h2>

			<div th:each="issue:${issueList}" class="container-fluid" style="background-color: rgba(241, 243, 243, 0.95); margin: 20px">
				<div class="row">
					<div class="col">
						<b><div class="row">
							<div class="col-sm-2 col-xs-4" style="padding-top: 10px">
								
							</div>
							<div class="col-sm-8 col-xs-4" style="padding-top: 10px">
								<a style="text-decoration: none; font-size: 30px; word-wrap: break-word" th:href= "@{/issue(id=${issue.getId_issue()})}"><p th:text="${issue.getTitle()}">Issue title</p></a>
							</div>

							<div class="col-sm-2 col-xs-4" style = "text-align: left; padding-top: 10px">
								<p>Posted by: <span th:text=${issue.getUser().getUsername()}>Aaaa</span><br>
									Date: <span th:text="${issue.getDate()}">16.07.2019</span><br>
									Replies: <span th:text="${issue.getReplysForIssue()}">14</span><br>
									Is solved: <span th:text="${issue.isSolved()}">false</span></p>
							</div>
						</div></b>

						<div class="row" style=" margin: 20px">
							<div class = "col-sm-auto" style="text-align: left">
								<h4 >Description:</h4>
								<p th:text=${issue.getDescription()} style="white-space: pre-wrap; word-wrap: break-word"></p>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<script>
		// Sends to activity page with paramater - name in button
		function pass(button){
			var value1=button.innerText;
			var queryString = "?activity=" + value1;
			window.location.href = "exercisePage" + queryString;
		}
		// Gets passed parameter and displays it on header
		
	
	</script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  	<script src="${contextPath}/resources/js/bootstrap.min.js"></script>
</body>
</html>